# Airbnb Real World Data Cleaning

In [1]:
import pandas as pd

##### Loading dataset

In [42]:
df= pd.read_csv("data/Airbnb_Open_Data.csv",low_memory=False)
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [43]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [45]:
df.shape

(102599, 26)

In [46]:
df.columns=(
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ','_')
)
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

##### Checking columns with NaN values

In [47]:
df.isna().sum().sort_values(ascending=False)

license                           102597
house_rules                        52131
last_review                        15893
reviews_per_month                  15879
country                              532
availability_365                     448
minimum_nights                       409
host_name                            406
review_rate_number                   326
calculated_host_listings_count       319
host_identity_verified               289
service_fee                          273
name                                 250
price                                247
construction_year                    214
number_of_reviews                    183
country_code                         131
instant_bookable                     105
cancellation_policy                   76
neighbourhood_group                   29
neighbourhood                         16
long                                   8
lat                                    8
id                                     0
host_id                                0
room_type                              0
dtype: int64

##### Dropiing column with most NaN and less significance

In [48]:
df= df.drop(columns=['license'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
dtypes: float64(9), int64(2), object(14)
memory usage: 19.6+ MB

##### Handling NaN values

NaN in Numbers handled by filling median value and in Texts(objects) by replacing it with "Unknown"

In [49]:
nums_cols = df.select_dtypes(include='number').columns
df[nums_cols]=df[nums_cols].fillna(df[nums_cols].median())

In [50]:
cat_cols = df.select_dtypes(include='object').columns
df[cat_cols]=df[cat_cols].fillna('Unknown')

In [51]:
df.info() #No more null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102599 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102599 non-null  object
 4   host_name                       102599 non-null  object
 5   neighbourhood_group             102599 non-null  object
 6   neighbourhood                   102599 non-null  object
 7   lat                             102599 non-null  float64
 8   long                            102599 non-null  float64
 9   country                         102599 non-null  object
 10  country_code                    102599 non-null  object
 11  instant_bookable                102599 non-null  object
 12  cancellation_policy             102599 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102599 non-null  float64
 15  price                           102599 non-null  object
 16  service_fee                     102599 non-null  object
 17  minimum_nights                  102599 non-null  float64
 18  number_of_reviews               102599 non-null  float64
 19  last_review                     102599 non-null  object
 20  reviews_per_month               102599 non-null  float64
 21  review_rate_number              102599 non-null  float64
 22  calculated_host_listings_count  102599 non-null  float64
 23  availability_365                102599 non-null  float64
 24  house_rules                     102599 non-null  object
dtypes: float64(9), int64(2), object(14)
memory usage: 19.6+ MB

##### Cleaning Text Columns

In [52]:
text_cols=['name','host_name','neighbourhood_group','neighbourhood']

for col in text_cols:
    df[col]=(
        df[col]
        .astype(str)
        .str.strip()
        .str.lower()
        .str.replace(r'[^a-z]',' ',regex=True)
        .str.replace(r'\s+',' ',regex=True)
    )

In [53]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,clean quiet apt home by the park,80014485718,unconfirmed,madaline,brooklyn,kensington,40.64749,-73.97237,United States,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,skylit midtown castle,52335172823,verified,jenna,manhattan,midtown,40.75362,-73.98377,United States,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,the village of harlem new york,78829239556,Unknown,elise,manhattan,harlem,40.80902,-73.94190,United States,...,$620,$124,3.0,0.0,Unknown,0.74,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,unknown,85098326012,unconfirmed,garry,brooklyn,clinton hill,40.68514,-73.95976,United States,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,Unknown
4,1003689,entire apt spacious studio loft by central park,92037596077,verified,lyndon,manhattan,east harlem,40.79851,-73.94399,United States,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."

##### Cleaning Price and Service Fee Columns

In [71]:
df['price'] = (
    df['price']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)
    .pipe(pd.to_numeric, errors='coerce')
)

df['service_fee'] = (
    df['service_fee']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)
    .pipe(pd.to_numeric, errors='coerce') #converts string to float
)

In [57]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,clean quiet apt home by the park,80014485718,unconfirmed,madaline,brooklyn,kensington,40.64749,-73.97237,United States,...,966.0,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,skylit midtown castle,52335172823,verified,jenna,manhattan,midtown,40.75362,-73.98377,United States,...,142.0,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,the village of harlem new york,78829239556,Unknown,elise,manhattan,harlem,40.80902,-73.94190,United States,...,620.0,124.0,3.0,0.0,Unknown,0.74,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,unknown,85098326012,unconfirmed,garry,brooklyn,clinton hill,40.68514,-73.95976,United States,...,368.0,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,Unknown
4,1003689,entire apt spacious studio loft by central park,92037596077,verified,lyndon,manhattan,east harlem,40.79851,-73.94399,United States,...,204.0,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."

##### Checking duplicated values

In [58]:
df.duplicated().sum()

np.int64(541)

In [72]:
df=df.drop_duplicates() #removing duplicates

In [60]:
df.duplicated().sum()

np.int64(0)

##### Handling outliers

In [61]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR= Q3-Q1

df=df[(df['price'] >=Q1-1.5*IQR) &
    (df['price'] <= Q3+1.5*IQR)]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101811 entries, 0 to 102057
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101811 non-null  int64
 1   name                            101811 non-null  object
 2   host_id                         101811 non-null  int64
 3   host_identity_verified          101811 non-null  object
 4   host_name                       101811 non-null  object
 5   neighbourhood_group             101811 non-null  object
 6   neighbourhood                   101811 non-null  object
 7   lat                             101811 non-null  float64
 8   long                            101811 non-null  float64
 9   country                         101811 non-null  object
 10  country_code                    101811 non-null  object
 11  instant_bookable                101811 non-null  object
 12  cancellation_policy             101811 non-null  object
 13  room_type                       101811 non-null  object
 14  construction_year               101811 non-null  float64
 15  price                           101811 non-null  float64
 16  service_fee                     101572 non-null  float64
 17  minimum_nights                  101811 non-null  float64
 18  number_of_reviews               101811 non-null  float64
 19  last_review                     101811 non-null  object
 20  reviews_per_month               101811 non-null  float64
 21  review_rate_number              101811 non-null  float64
 22  calculated_host_listings_count  101811 non-null  float64
 23  availability_365                101811 non-null  float64
 24  house_rules                     101811 non-null  object
dtypes: float64(11), int64(2), object(12)
memory usage: 20.2+ MB

In [63]:
df.isna().sum() #Still NaN values in service_fee

id                                  0
name                                0
host_id                             0
host_identity_verified              0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
lat                                 0
long                                0
country                             0
country_code                        0
instant_bookable                    0
cancellation_policy                 0
room_type                           0
construction_year                   0
price                               0
service_fee                       239
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
review_rate_number                  0
calculated_host_listings_count      0
availability_365                    0
house_rules                         0
dtype: int64

In [66]:
df['service_fee']=df['service_fee'].fillna(df['service_fee'].median())
df['service_fee']

0         193.0
1          28.0
2         124.0
3          74.0
4          41.0
          ...
102053    125.0
102054    125.0
102055    125.0
102056    125.0
102057    125.0
Name: service_fee, Length: 101811, dtype: float64

In [69]:
df.isna().sum() #No more NaN values

id                                0
name                              0
host_id                           0
host_identity_verified            0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country_code                      0
instant_bookable                  0
cancellation_policy               0
room_type                         0
construction_year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
review_rate_number                0
calculated_host_listings_count    0
availability_365                  0
house_rules                       0
dtype: int64

In [70]:
df.describe()

,id,host_id,lat,long,construction_year,price,service_fee,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
count,1.018110e+05,1.018110e+05,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000,101811.000000
mean,2.919211e+07,4.925743e+10,40.728093,-73.949656,2012.486657,625.355580,125.050692,8.096237,27.485301,1.277747,3.278035,7.905776,140.832199
std,1.627009e+07,2.853645e+10,0.055864,0.049501,5.759438,331.672649,66.255813,30.561149,49.547374,1.624155,1.282971,32.210633,135.154142
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,50.000000,10.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.511122e+07,2.458836e+10,40.688720,-73.982570,2008.000000,340.000000,68.000000,2.000000,1.000000,0.280000,2.000000,1.000000,3.000000
50%,2.919183e+07,4.912062e+10,40.722280,-73.954440,2012.000000,625.000000,125.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.329012e+07,7.398764e+10,40.762765,-73.932350,2017.000000,913.000000,182.000000,5.000000,30.000000,1.710000,4.000000,2.000000,268.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

##### Finally, data ready for further processing

##### Saving clean data

In [73]:
df.to_csv('Cleaned_Airbnb_data.csv', index=False)