# Data Cleaning in Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("data/Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

##### removing duplicates

In [6]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

##### Dropping Columns

In [8]:
df=df.drop(columns="Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

##### Strip
##### Can only be used if something needs to be removed from both ends

In [17]:
df["Last_Name"] =df["Last_Name"].str.lstrip("...")
df["Last_Name"] =df["Last_Name"].str.lstrip("/")
df["Last_Name"] =df["Last_Name"].str.rstrip("_")
df

#lstrip-> for left side
#rstrip-> for right side

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [120]:
df = pd.read_excel("data/Customer Call List.xlsx")
df
df=df.drop(columns="Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [121]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [122]:
df.loc[:,"Last_Name"]=df["Last_Name"].str.strip("123._/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

##### Cleaning and standardizing Phone number

In [123]:
df.loc[:,"Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','', regex=True)
df
#Replaces everything except characters fro a-z, A-Z and 0-9

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [124]:
df.loc[:,"Phone_Number"]=df["Phone_Number"].apply(lambda x : str(x)) 
#Converts entire data of the column into string
df.loc[:,"Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan--,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na--,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na--,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [125]:
df.loc[:,"Phone_Number"]=df["Phone_Number"].str.replace('nan--','')
df.loc[:,"Phone_Number"]=df["Phone_Number"].str.replace('Na--','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

##### Splitting Columns

In [135]:
df.loc[:,['Street_Address','State','Zip_Code']] = df['Address'].str.split(',',n=1,expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,NaN,NaN,NaN
2,1003,Walter,White,,298 Drugs Driveway,N,,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,NaN,NaN,NaN
6,1007,Jeff,Winger,,1209 South Street,N,N,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,NaN,NaN,NaN
8,1009,Gandalf,,,123 Middle Earth,Y,,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,NaN,NaN,NaN
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,NaN,NaN,NaN
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,NaN,NaN,NaN
17,1018,Clark,Kent,,3498 Super Lane,Y,,NaN,NaN,NaN
18,1019,Creed,Braton,,,,Y,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN

##### Standardizing Column Data

In [127]:
df.loc[:,'Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')
df.loc[:,'Paying Customer']=df['Paying Customer'].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Yes,NaN,NaN,NaN
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Yes,NaN,NaN,NaN
6,1007,Jeff,Winger,,1209 South Street,N,No,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,NaN,NaN,NaN
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,NaN,NaN,NaN
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,NaN,NaN,NaN
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,NaN,NaN,NaN
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,NaN,NaN,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN

In [128]:
df.loc[:,'Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
df.loc[:,'Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,NaN,NaN,NaN
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,NaN,NaN,NaN
6,1007,Jeff,Winger,,1209 South Street,N,N,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,NaN,NaN,NaN
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,NaN,NaN,NaN
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,NaN,NaN,NaN
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,NaN,NaN,NaN
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,NaN,NaN,NaN
18,1019,Creed,Braton,,N/a,N/a,Y,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN

In [129]:
df = df.replace('N/a','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,NaN,NaN,NaN
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,NaN,NaN,NaN
6,1007,Jeff,Winger,,1209 South Street,N,N,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,NaN,NaN,NaN
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,NaN,NaN,NaN
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,NaN,NaN,NaN
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,NaN,NaN,NaN
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,NaN,NaN,NaN
18,1019,Creed,Braton,,,,Y,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN

In [130]:
df=df.fillna('') #Nan-> Not a number will be replaced by white space
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,,,
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,,,
2,1003,Walter,White,,298 Drugs Driveway,N,,,,
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,,,
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,,
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,,,
6,1007,Jeff,Winger,,1209 South Street,N,N,,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,,
8,1009,Gandalf,,,123 Middle Earth,Y,,,,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,,,
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,,,
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,,,,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,,
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,,
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,,,
17,1018,Clark,Kent,,3498 Super Lane,Y,,,,
18,1019,Creed,Braton,,,,Y,,,
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,,,

##### Filtering Down the rows of data

In [139]:
for x in df.index:
    if df.loc[x,"Phone_Number"]=='':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN

In [97]:
for x in df.index:
    if df.loc[x,"Do_Not_Contact"]== 'Y':
        df.drop(x,inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,,,
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,,,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,,
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,,
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,,,
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,,,

In [136]:
df=df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,NaN,NaN,NaN
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,NaN,NaN,NaN
2,1003,Walter,White,,298 Drugs Driveway,N,,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,NaN,NaN,NaN
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,NaN,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,NaN,NaN,NaN
6,1007,Jeff,Winger,,1209 South Street,N,N,NaN,NaN,NaN
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,NaN,NaN,NaN
8,1009,Gandalf,,,123 Middle Earth,Y,,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,NaN,NaN,NaN
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,NaN,NaN,NaN
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,NaN,NaN,NaN
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,NaN,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,NaN,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,NaN,NaN,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,NaN,NaN,NaN
17,1018,Clark,Kent,,3498 Super Lane,Y,,NaN,NaN,NaN
18,1019,Creed,Braton,,,,Y,NaN,NaN,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,NaN,NaN,NaN