In [1]:
import pandas as pd

##### Loading csv file

In [7]:
df=pd.read_csv(r"C:\Users\Utsab\Desktop\data_analysis-to-data_science\phase-1-data-analysis\week-1-pandas-numpy\notebooks\data\covid_19.csv")
df

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
233,Argentina,South-America,46010234.0,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9997258.0,130841.0,35716069.0
234,Netherlands,Europe,17211447.0,2024-06-30,2024-06-30T16:15:10+00:00,8635786,8612599.0,22992.0,25984435.0
235,Mexico,North-America,131562772.0,2024-06-30,2024-06-30T16:15:10+00:00,7702809,6899865.0,334958.0,20013810.0
236,Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
237,Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0

In [8]:
df.shape

(238, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     238 non-null    object
 1   continent   236 non-null    object
 2   population  229 non-null    float64
 3   day         238 non-null    object
 4   time        238 non-null    object
 5   Cases       238 non-null    int64
 6   Recovered   190 non-null    float64
 7   Deaths      233 non-null    float64
 8   Tests       213 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 16.9+ KB

In [11]:
df.head()

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN

In [12]:
df.tail()

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
233,Argentina,South-America,46010234.0,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9997258.0,130841.0,35716069.0
234,Netherlands,Europe,17211447.0,2024-06-30,2024-06-30T16:15:10+00:00,8635786,8612599.0,22992.0,25984435.0
235,Mexico,North-America,131562772.0,2024-06-30,2024-06-30T16:15:10+00:00,7702809,6899865.0,334958.0,20013810.0
236,Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
237,Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0

In [10]:
df.describe(include='all')

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
count,238,236,2.290000e+02,238,238,2.380000e+02,1.900000e+02,2.330000e+02,2.130000e+02
unique,238,7,NaN,1,7,NaN,NaN,NaN,NaN
top,Saint-Helena,Africa,NaN,2024-06-30,2024-06-30T16:15:12+00:00,NaN,NaN,NaN,NaN
freq,1,59,NaN,238,47,NaN,NaN,NaN,NaN
mean,NaN,NaN,3.469404e+07,NaN,NaN,8.883449e+06,1.006214e+07,9.026621e+04,3.298829e+07
std,NaN,NaN,1.386374e+08,NaN,NaN,5.193031e+07,5.555519e+07,5.163434e+05,1.198779e+08
min,NaN,NaN,7.990000e+02,NaN,NaN,9.000000e+00,2.000000e+00,1.000000e+00,7.850000e+03
25%,NaN,NaN,4.454310e+05,NaN,NaN,2.741875e+04,2.197250e+04,2.250000e+02,3.478150e+05
50%,NaN,NaN,5.797805e+06,NaN,NaN,2.320425e+05,2.351455e+05,2.570000e+03,2.226216e+06
75%,NaN,NaN,2.210284e+07,NaN,NaN,1.565481e+06,2.078212e+06,1.805700e+04,1.346373e+07
max,NaN,NaN,1.448471e+09,NaN,NaN,7.047539e+08,6.756198e+08,7.010681e+06,1.186852e+09

##### Cleaning column names

In [13]:
df.columns =(df.columns
            .str.strip()
            .str.lower()
             .str.replace(' ','_')
    )
df

,country,continent,population,day,time,cases,recovered,deaths,tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
233,Argentina,South-America,46010234.0,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9997258.0,130841.0,35716069.0
234,Netherlands,Europe,17211447.0,2024-06-30,2024-06-30T16:15:10+00:00,8635786,8612599.0,22992.0,25984435.0
235,Mexico,North-America,131562772.0,2024-06-30,2024-06-30T16:15:10+00:00,7702809,6899865.0,334958.0,20013810.0
236,Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
237,Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0

In [14]:
df.isna().sum()

country        0
continent      2
population     9
day            0
time           0
cases          0
recovered     48
deaths         5
tests         25
dtype: int64

##### arranging values based on continent to fill the missing continent

In [17]:
df= df.sort_values(by='continent')
df

,country,continent,population,day,time,cases,recovered,deaths,tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
154,Botswana,Africa,2441162.0,2024-06-30,2024-06-30T16:15:12+00:00,330638,327049.0,2801.0,2026898.0
151,Kenya,Africa,56215221.0,2024-06-30,2024-06-30T16:15:12+00:00,344130,337309.0,5689.0,3967062.0
150,Zambia,Africa,19470234.0,2024-06-30,2024-06-30T16:15:12+00:00,349304,341316.0,4069.0,4112961.0
143,R&eacute;union,Africa,908061.0,2024-06-30,2024-06-30T16:15:12+00:00,494595,NaN,921.0,1603660.0
...,...,...,...,...,...,...,...,...,...
93,Suriname,South-America,596831.0,2024-06-30,2024-06-30T16:15:13+00:00,82588,NaN,1408.0,242207.0
170,Colombia,South-America,51512762.0,2024-06-30,2024-06-30T16:15:11+00:00,6400173,6212152.0,143200.0,36951507.0
215,South-America,South-America,NaN,2024-06-30,2024-06-30T16:15:10+00:00,70200879,66683585.0,1367332.0,NaN
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
6,MS-Zaandam,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,9,7.0,2.0,NaN

##### Filling the missing datas- median for numerical values, front fill and back fill for missing continents and replacing NaN by unknown for other missing categorial values

In [19]:
num_cols= df.select_dtypes(include='number').columns
df[num_cols]=df[num_cols].fillna(df[num_cols].median())

In [20]:
df['continent']=df['continent'].ffill().bfill()

In [21]:
cat_cols= df.select_dtypes(include='object').columns
df[cat_cols]=df[cat_cols].fillna('unknown')

In [23]:
df.isna().sum() #No more missing values

country       0
continent     0
population    0
day           0
time          0
cases         0
recovered     0
deaths        0
tests         0
dtype: int64

##### Checking and removing duplicates

In [25]:
df.duplicated().sum() #No duplicate values, so no cleaning required

np.int64(0)

##### Cleaning Texts

In [37]:
df['country']=(df['country']
               .str.strip()
               .str.lower()
               .str.replace(r'^a-zA-Z,-','',regex=True) 
               .str.replace(r'[!@#$%^&*;]','',regex=True)
)

In [38]:
df

,country,continent,population,day,time,cases,recovered,deaths,tests
0,saint-helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,2570.0,2226216.0
154,botswana,Africa,2441162.0,2024-06-30,2024-06-30T16:15:12+00:00,330638,327049.0,2801.0,2026898.0
151,kenya,Africa,56215221.0,2024-06-30,2024-06-30T16:15:12+00:00,344130,337309.0,5689.0,3967062.0
150,zambia,Africa,19470234.0,2024-06-30,2024-06-30T16:15:12+00:00,349304,341316.0,4069.0,4112961.0
143,reacuteunion,Africa,908061.0,2024-06-30,2024-06-30T16:15:12+00:00,494595,235145.5,921.0,1603660.0
...,...,...,...,...,...,...,...,...,...
93,suriname,South-America,596831.0,2024-06-30,2024-06-30T16:15:13+00:00,82588,235145.5,1408.0,242207.0
170,colombia,South-America,51512762.0,2024-06-30,2024-06-30T16:15:11+00:00,6400173,6212152.0,143200.0,36951507.0
215,south-america,South-America,5797805.0,2024-06-30,2024-06-30T16:15:10+00:00,70200879,66683585.0,1367332.0,2226216.0
3,diamond-princess,South-America,5797805.0,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,2226216.0
6,ms-zaandam,South-America,5797805.0,2024-06-30,2024-06-30T16:15:16+00:00,9,7.0,2.0,2226216.0

##### Fixing datatypes

In [44]:
df['day']=pd.to_datetime(df['day'], errors='coerce')

##### Validation

In [39]:
df.isna().sum()

country       0
continent     0
population    0
day           0
time          0
cases         0
recovered     0
deaths        0
tests         0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238 entries, 0 to 6
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     238 non-null    object
 1   continent   238 non-null    object
 2   population  238 non-null    float64
 3   day         238 non-null    datetime64[ns]
 4   time        238 non-null    object
 5   cases       238 non-null    int64
 6   recovered   238 non-null    float64
 7   deaths      238 non-null    float64
 8   tests       238 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 18.6+ KB

In [46]:
df.describe(include='all')

,country,continent,population,day,time,cases,recovered,deaths,tests
count,238,238,2.380000e+02,238,238,2.380000e+02,2.380000e+02,2.380000e+02,2.380000e+02
unique,238,7,NaN,NaN,7,NaN,NaN,NaN,NaN
top,saint-helena,Africa,NaN,NaN,2024-06-30T16:15:12+00:00,NaN,NaN,NaN,NaN
freq,1,59,NaN,NaN,47,NaN,NaN,NaN,NaN
mean,NaN,NaN,3.360133e+07,2024-06-30 00:00:00,NaN,8.883449e+06,8.080225e+06,8.842386e+04,2.975698e+07
min,NaN,NaN,7.990000e+02,2024-06-30 00:00:00,NaN,9.000000e+00,2.000000e+00,1.000000e+00,7.850000e+03
25%,NaN,NaN,5.749662e+05,2024-06-30 00:00:00,NaN,2.741875e+04,4.156800e+04,2.282500e+02,4.475890e+05
50%,NaN,NaN,5.797805e+06,2024-06-30 00:00:00,NaN,2.320425e+05,2.351455e+05,2.570000e+03,2.226216e+06
75%,NaN,NaN,2.115053e+07,2024-06-30 00:00:00,NaN,1.565481e+06,1.238110e+06,1.707325e+04,1.152990e+07
max,NaN,NaN,1.448471e+09,2024-06-30 00:00:00,NaN,7.047539e+08,6.756198e+08,7.010681e+06,1.186852e+09
std,NaN,NaN,1.360918e+08,NaN,NaN,5.193031e+07,4.976850e+07,5.110231e+05,1.137724e+08

##### Saving cleaned data

In [47]:
df.to_csv('cleaned_covid19.csv', index=False)